<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/f7522a4c-1b82-40e1-904d-8d57ed1bf90b/resourceGroups/Handallo/providers/Microsoft.Web/sites/Handalloeats</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://handalloeats.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>handalloeats.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Handalloeats</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Handalloeats</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>